[submodule "dependencies/fmdb"]
	path = dependencies/fmdb
	url = https://github.com/ccgus/fmdb.git
[submodule "dependencies/BlowTorch"]
	path = dependencies/BlowTorch
	url = git@github.com:marcuswestin/blowtorch.git
[submodule "node_modules/d3"]
	path = node_modules/d3
	url = https://github.com/mbostock/d3.git
[submodule "dependencies/asi-http-request"]
	path = dependencies/asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
